body {
  margin: 0;
  font-family: 'Nosifer', sans-serif;
  text-align: center;
  background-image: url("https://cdnb.artstation.com/p/assets/images/images/013/726/849/large/danny-moll-csv-belmont-home-ruins.jpg?1540873016");
}

.search{
  color: azure;
}

h1{
  color:azure;
}
h1:hover{
  background-color: crimson;
  border-radius: .2em;

}
h2{
  color:azure
}

h3{
  color: crimson;
}

/*  */
header {
  background-color:rgb(34, 3, 10) ;
  padding: 25px;
  font-size: 33px;
}
/*  */
header a{
  color:azure
}

header a:hover{
  background-color:crimson;
  border-radius: .2em;
}
/*  */

button {
  color: crimson;
  padding: 10px;
  font-size:medium;
  background-color: black;
}
/*  */
.post img{
  width: 10%;
  height: 100px;
  object-fit:cover;
}

.posts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}
html {
  scroll-behavior: smooth;
}

.information {
  color: rgb(13, 13, 14);
}